@model IEnumerable<_2124802010277_LeTuanKiet_CuoiKy.Models.BaiTapRoom>
@using _2124802010277_LeTuanKiet_CuoiKy.Models
@{
    DataTiengAnhEntities db = new DataTiengAnhEntities();
    int IdRoom = (int)ViewBag.RoomId;
    int i = 0;
    int IdBaiTap = (int)ViewBag.IdBaiTap;
    int IdNd = (int)ViewBag.IdNd;

    ChiTietPhong ctp = db.ChiTietPhongs.FirstOrDefault(item => item.IdPhong == IdRoom && item.ChuPhong == true); //lấy thg chủ phòng ra để kiểm tra

}

<style>
    .list-group-item {
        margin-bottom: 10px;
        height: 70px;
    }

    div#container {
        text-align: left
    }

    div#navigation {
        background: #F6F0E0;
    }

        div#navigation ul {
            margin: 15px 0;
            padding: 0;
            list-style-type: none;
        }

        div#navigation li {
            margin-bottom: 5px;
        }

    div#extra {
        background: #CCC8B3;
    }

    div#container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    div#wrapper {
        flex: 55%;
    }

    div#content {
        margin: 0 20px
    }

    div#navigation {
        flex: 15%;
    }

    div#extra {
        flex: 30%;
    }
</style>
<div>
    @if (IdNd == ctp.MaKH)
    {
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-bottom: 30px" id="BtnCreate">Tạo bài tập</a>
    }

    <div class="list-group list-group-light">
        @foreach (var item in Model)
        {
            BaiTapRoom tmp = item;
            <a href="~/Chat/Index?Menu=2&id=@IdRoom&TypeRoom=2&IdBt=@item.IdBTRoom" class="list-group-item list-group-item-action px-3 border-0 active" aria-current="true">
                @item.Ten
            </a>
        }
    </div>
</div>
@if (IdBaiTap != 0)
{
    @Html.Action("BaiNop", "Chat", new { IdBaiTap = IdBaiTap, IdNguoiDung = IdNd, IdRoom=IdRoom });
}

<div class="modal">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="" style="width: 70%">
            <div class="modal-content">
                <form action="@Url.Action("ThemBaiTap","Chat")" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="IdRoom" value="@IdRoom" />
                    <div class="modal-header">
                        <h5 class="modal-title">Bài tập</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CloseForm()"></button>
                    </div>
                    <div class="modal-body" style="height: 700px">
                        <div id="container">
                            <div id="navigation">
                                <p><strong>Đính kèm file</strong></p>
                                <ul>
                                    <li>
                                        <input type="file" multiple name="fileList" id="fileInput" style="display:none;" onchange="updateFileName()" />
                                        <button type="button" class="btn btn-primary" onclick="openFileInput()">Chọn Files</button>
                                        <ul id="fileList"></ul>
                                    </li>
                                </ul>
                            </div>
                            <div id="wrapper">
                                <div class="form-group" style="padding: 0 20px">
                                    <label style="font-weight: bold">Tên Bài Tập</label>
                                    <input type="text" name="Ten" class="form-control">
                                </div>
                                <div class="form-group" id="content" style="height: 100%">
                                    <p><strong>Nội dung và mô tả</strong></p>
                                    <textarea name="NoiDung" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Nhập nội dung" style="height: 100%"></textarea>
                                </div>
                            </div>
                            <div id="extra">
                                <p><strong>Cài đặt</strong></p>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label style="font-weight: bold">Ngày Bắt Đầu</label>
                                        <input type="date" name="DateStart" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="content" style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center">
                                            <div class="column">
                                                <select name="HourStart" id="selectTaoBai">
                                                    <option value="Hour" selected disabled hidden>Hour</option>
                                                </select>
                                            </div>
                                            <div class="column">
                                                <select name="MinuteStart" id="selectTaoBai">
                                                    <option value="Minute" selected disabled hidden>Minute</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label style="font-weight: bold">Hạn Chót</label>
                                        <input type="date" name="DateEnd" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="content" style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center">
                                            <div class="column">
                                                <select name="HourEnd" id="selectTaoBai">
                                                    <option value="Hour" selected disabled hidden>Hour</option>
                                                </select>
                                            </div>
                                            <div class="column">
                                                <select name="MinuteEnd" id="selectTaoBai">
                                                    <option value="Minute" selected disabled hidden>Minute</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="BtnClose">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var btn = document.getElementById('BtnCreate');
    btn.addEventListener('click', function () {
        $('.modal').show();
    });
    document.getElementById('BtnClose').addEventListener('click', function () {
        $('.modal').hide();
    });
    function CloseForm() {
        $('.modal').hide();
    }

    var i = 0;
    var selectMenu = document.querySelectorAll("#selectTaoBai");
    console.log(selectMenu);
    for (let i = 24; i > 0; i--) {
        i = i < 10 ? `0${i}` : i;
        let option = `<option value="${i}">${i}</option>`;
        selectMenu[0].firstElementChild.insertAdjacentHTML("afterend", option);
        selectMenu[2].firstElementChild.insertAdjacentHTML("afterend", option);
    }

    for (let i = 59; i >= 0; i--) {
        i = i < 10 ? `0${i}` : i;
        let option = `<option value="${i}">${i}</option>`;
        selectMenu[1].firstElementChild.insertAdjacentHTML("afterend", option);
        selectMenu[3].firstElementChild.insertAdjacentHTML("afterend", option);
    }
    function openFileInput() {
        document.getElementById('fileInput').click();
    }

    function updateFileName() {
        var fileList = document.getElementById('fileInput').files;
        var listContainer = document.getElementById('fileList');
        listContainer.innerHTML = '';

        for (var i = 0; i < fileList.length; i++) {
            var listItem = document.createElement('li');
            listItem.className = 'file-item';

            var tmp = fileList[i].name;
            if (fileList[i].name.length > 17) {
                tmp = fileList[i].name.substring(0, 17);
                tmp += "..."
            }   
            console.log(tmp);
            
            var fileName = document.createTextNode(tmp);
            console.log(fileName);
            listItem.appendChild(fileName);

            var deleteBtn = document.createElement('span');
            deleteBtn.className = 'btn btn-danger';
            deleteBtn.innerHTML = ' X';
            deleteBtn.onclick = function (index) {
                return function () {
                    removeFile(index);
                };
            }(i);

            listItem.appendChild(deleteBtn);
            listContainer.appendChild(listItem);
        }
    }
    function removeFile(index) {
        var fileInput = document.getElementById('fileInput');
        var files = Array.from(fileInput.files);

        files.splice(index, 1);

        // Tạo một đối tượng DataTransfer giả mạo
        var dataTransfer = new DataTransfer();
        files.forEach(function (file) {
            dataTransfer.items.add(file);
        });

        // Gán đối tượng DataTransfer mới cho input[type="file"]
        fileInput.files = dataTransfer.files;

        updateFileName();
    }
</script>