@model IEnumerable<_2124802010277_LeTuanKiet_CuoiKy.Models.ChiTietBaiTapRoom>

<ul>
    @foreach(var item in Model)
            {
                <li>
                    <a href="">@item.FileNop</a>
                </li>
            }
</ul>
