@using _2124802010277_LeTuanKiet_CuoiKy.Models
@model IEnumerable<Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Name = ViewBag.Name;
    var Id = ViewBag.Id;
    int Menu = 0;
    int TypeRoom = (int)ViewBag.TypeRoom;
    if (ViewBag.Menu != null)
    {
        Menu = (int)ViewBag.Menu;
    }
    int IdBt = (int)ViewBag.IdBt;
    DataTiengAnhEntities db = new DataTiengAnhEntities();
}
<section style="background-color: #eee;min-height: 800px; max-height: 800px">
    <div class="">
        <div class="row">
            <div class="col-md-6 col-md-5 col-xl-3">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                <div class=""
                     style=" overflow: auto;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            min-width: 0;
                            word-wrap: break-word;
                            background-color: #fff;
                            background-clip: border-box;
                            border: 1px solid rgba(0,0,0,.125);
                            border-radius: .25rem;
                            min-height: 650px;
                            max-width: 350px;
                            ">
                    <div class="card-body">
                        @Html.Action("ListRoom", "Chat", new { TypeRoom=TypeRoom})
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-7 col-xl-9" style="max-height: 800px; max-height: 800px;">
                @if (TypeRoom == 2)
                {
                    <ul class="nav justify-content-center nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Chat/Index?Menu=1&id=@ViewBag.IdRoom&TypeRoom=@TypeRoom">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Chat/Index?Menu=2&id=@ViewBag.IdRoom&TypeRoom=@TypeRoom">Bài tập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Điểm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Tệp</a>
                        </li>
                    </ul>
                }

                @if (Menu == 1)
                {
                    @Html.Action("ChatUser", "Chat", new {IdRoom=ViewBag.IdRoom ,tmp = Model })
                }
                else
                {
                    @Html.Action("BaiTap", "Chat", new {RoomId=ViewBag.IdRoom, IdBt=IdBt })
                }


            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        CKEDITOR.replace('NoiDung', {
             width: ['100%'], height: ['450px']
        });
        CKEDITOR.replace('NoiDung1', {
            width: ['100%'], height: ['450px']
        });
    </script>
}